#titulo-importante {
    background-color: blue;
    color: white;
}

.sub-titulo {
    background-color: yellow;
}

section {
    background-color: green;
}

.titulo-secao {
    color: white;
}

footer {
    background-color: black;
    color: white;
}